* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #b6aeae;
  color: wheat;
}
#logo {
  margin-left: 30px;
}
/*
nav {
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px black;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: hotpink;
  padding: 10px;
  font-size: larger;
}
*/
#exp {
  width: 500px;
  height: 300px;
  margin-top: 30px;
}
#expdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expheader {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 36px;
  margin-left: 30px;
  margin-top: 20px;
}
.exptext {
  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  margin-left: 30px;
  width: 320px;
}
section {
  margin-left: 30px;
}
.exp1 {
  border-radius: 15px;
  width: 130px;
}
.star {
  height: 20px;
  display: inline;
  padding-right: 5px;
  object-fit: none;
}
.grey {
  color: white;
}
.imageText {
  position: absolute;
  margin-left: 5px;
  font-size: smaller;
  background-color: lightgrey;
}
.list {
  display: flex;
  overflow-x: auto;
}
/* .reusable { 
  */

.list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

section:hover > p,
.rating {
  visibility: visible;
  opacity: 1;
}
section:hover > .rating {
  visibility: visible;
  opacity: 1;
}
section > p {
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

section > .rating {
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.head {
  color: white;
  /* margin-bottom: 20px; */
  margin-left: 30px;
  /* display: block; */
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
}
